APP_ENV="local"
APP_DEBUG="true"
APP_KEY=""
APP_TIMEZONE="PST"
APP_CACHE_DURATION=""

CACHE_DRIVER="file"
QUEUE_DRIVER="sync"

# APIs no trailing slash
DIRECTORY_WS_URL="https://example.com"
NAMECOACH_API_URL="https://namecoach/api"
NAMECOACH_API_SECRET="SomeRandomKey!!!"

FORCE_HTTPS="false"